@{
    ViewData["Title"] = "<Phrasing> (H) -- Hyjal";
    Layout="_BigPictureLayout";
}

                <h1 > &lt;Phrasing&gt; Hyjal (H)</h1>
                <h3>Horde raiding on Hyjal Tuesdays, Thursdays and Sunday 6PM - 9PM Server Time </h3>
                <p>Are we still doing phrasing?</p>
           