@{
    ViewData["Title"] = "Home Page";
    Layout="_BigPictureLayout";
}

@section css {
    <link href="css/the-big-picture.css" rel="stylesheet">
    <link href="css/home.css" rel="stylesheet">
}

<div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12 callout">
                <h1 > &lt;Phrasing&gt; Hyjal (H)</h1>
                <h3>Horde raiding on Hyjal Tuesdays, Thursdays and Sunday 6PM - 9PM Server Time </h3>
                <p>Are we still doing phrasing?</p>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
