@{
    ViewData["Title"] = "Recruitment";
    Layout="_BigPictureLayout";
}


                <h1 > &lt;Phrasing&gt; Hyjal (H)</h1>
                <h3>Recruitment Information</h3>
               